<h2>LabVIEW Class Support</h2>
<p>By Default, Objects of LabVIEW Classes are converted to the standard flattened binary form of the LabVIEW Class, stored in a JSON string.&nbsp; However, the functions that convert to/from LabVIEW type have an optional input of a "LVClass Serializer".&nbsp; This is itself a LabVIEW class that has two overridable methods for conversion of LVObjects to or from JSON.&nbsp; Custom JSON formating of LabVIEW Objects can thus be provided via a Child Serializer Class.</p>
<p>For more on Class Support, please see <a title="JSONtext Issues" href="https://bitbucket.org/drjdpowell/jsontext/issues/56/parse-json-from-to-labview-objects?status=new&amp;status=open">Bitbucket Issue #56</a>.</p>
<p>For support please see&nbsp;<a title="[CR] JSONtext" href="https://lavag.org/topic/20236-cr-jsontext/" target="_blank" rel="noopener">[CR] JSONtext</a>.</p>